html,
body {
  padding: 0;
  margin: 0;
  font-family: "Apercu Pro Mono", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 62.5%;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
